aioredis==2.0.1
annotated-types==0.7.0
anyio==4.4.0
asgiref==3.7.1
asttokens==2.2.1
async-timeout==4.0.3
awscli==1.34.10
awsebcli==3.20.10
backcall==0.2.0
blinker==1.6.2
boto3==1.35.10
botocore==1.31.85
cement==2.8.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.3
colorama==0.4.3
contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
Django==4.2.1
docutils==0.16
executing==1.2.0
experta==1.9.4
fastapi==0.112.2
Flask==3.0.0
fonttools==4.39.3
frozendict==1.2
h11==0.14.0
idna==3.6
ipython==8.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
kiwisolver==1.4.4
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mpmath==1.3.0
mysql-connector==2.2.9
mysql-connector-python==9.0.0
mysqlx-connector-python==9.0.0
numpy==1.24.1
packaging==23.0
pandas==1.5.3
parso==0.8.3
pathspec==0.10.1
pickleshare==0.7.5
Pillow==9.4.0
prettytable==3.10.0
prompt-toolkit==3.0.38
protobuf==4.25.3
pure-eval==0.2.2
pyasn1==0.6.0
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.15.0
pymemcache==4.0.0
pyparsing==3.0.9
pypiwin32==223
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqt5-tools==5.15.9.3.3
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
PyYAML==6.0.1
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
redis==5.0.8
requests==2.31.0
rsa==4.7.2
s3transfer==0.10.2
schema==0.6.7
semantic-version==2.8.5
six==1.16.0
sniffio==1.3.1
sqlparse==0.4.4
stack-data==0.6.2
starlette==0.38.2
sympy==1.12
termcolor==1.1.0
tika==2.6.0
traitlets==5.9.0
typing_extensions==4.12.2
tzdata==2023.3
urllib3==1.26.18
uvicorn==0.30.6
wcwidth==0.1.9
Werkzeug==3.0.0

pywin32==306; sys_platform == 'win32'